page-order-list {
  .balanced {
    color: green;
  }
  .font-25 {
    font-size: 25px;
  }
  .text-left {
    text-align: left;
  }
  thead tr th {
    font-weight:700 !important;
  }
}
