page-pallets-rack {
  .bg-red {
    background: red !important;
  }
  .border-blue {
    border: 4px solid #7265f2;
  }
  .text-right {
    float: right
  }
  .label-grey {
    color: #adadad;
  }
  @media (max-width: 534px) {
    .btn-block {
      width: 90px !important;
      font-size: 12px !important;
    }
  }
}
